/* Wrapper */

.wrapper {
  padding-top: 0em;
  margin: 0 auto;
  max-width: 100%;
  color: black;
  overflow-x: hidden;
}

#mainpage {
  background: rgba(0, 0, 203, 0.3);
  overflow-x: hidden;
}

#bio {
  background: rgba(0, 0, 203, 0.3);
  overflow-x: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
article,
section,
ul,
li,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
}

article,
header,
menu,
nav,
section {
  display: block;
}

/* Header */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


/* Banner */
.banner {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 3em;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  object-fit: cover;
}

/* Panel */
.panel {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 3em;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  object-fit: cover;
}

.inner {
  height: 80%;
  font-size: 120%;
  display: inline-block;
}

.inner>h1 {
  padding-bottom: 1%;
  border-bottom: rgba(255, 255, 255, 0.6);
  border-bottom-style: solid;
  margin-bottom: 1%;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

#name {
  width: 40%;
  padding: 11% 4% 13% 4%;
}

#profile {
  width: 40%;
  padding: 11% 4% 13% 4%;
}

#profile>img {
  width: 55%;
  padding: 0;
}

#title-center {
  padding: 8% 0% 10% 42%;
}

#major {
  overflow: hidden;
  object-fit: cover;
}

#portfolio {
  background-image: url("../../images/portfolio.jpg");
  overflow: hidden;
  object-fit: cover;
  float: left;
}

#projects {
  background-image: url("../../images/projects.jpg");
  overflow: hidden;
  object-fit: cover;
  float: left;
}


#sub {
  position: relative;
  font-size: 50%;
  display: inline-block;
}

#page {
  font-size: 3em;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  object-fit: cover;
}

/* Navbar */
#nav {
  text-align: center;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.nav-list>li {
  display: inline-block;
  padding: 0% 2% 0% 2%;
}

.nav-list>li>a {
  font-size: 50%;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list>li>#port {
  color: rgba(0, 0, 128, 0.8);
}

.nav-list>li>#proj {
  color: rgba(0, 0, 255, 0.5);
}

/* Rows */

#row {
  width: 100%;
  padding: 0em 0em 1em 0em;
  overflow: hidden;
}

.container {
  width: 100%;
  position: relative;
  padding: 0% 2% 0% 2%;
}

.container>img {
  width: 100%;
}

#left {
  float: left;
  text-align: left;
}

#right {
  float: right;
  text-align: right;
}

#row>h2 {
  color: rgba(0, 0, 255, 0.6);
  font-size: 200%;
  padding: 1% 0% 1% 2%;
}

.category {
  padding: 0.2% 2% 0.2% 2%;
  list-style-position: inside;
}

.category>ul {
  columns: 2;
}

.category>li {
  padding: 0.5% 0% 0.5% 0%;
}

.img {
  border: 0;
  vertical-align: top;
  position: relative;
}

.link {
  color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/* Contact */
#contact {
  display: block;
  font-size: 1.5em;
  padding-bottom: 2%;
}

#contact>h2 {
  color: rgba(0, 0, 255, 0.6);
  font-size: 200%;
  padding: 1% 0% 1% 2%;
}

.clear {
  clear: both;
}

a:visited {
  color: blue;
}

.username {
  width: 100%;
  padding: 0.5em 1em 0.1em 1em;
}

/* Button Container
   Ref: https://stackoverflow.com/questions/52544089/how-to-create-two-html-buttons-side-by-side
*/

.contact-btns {
  display: block;
  width: 100%;
  padding-left: 1%;
  margin: 0 auto;
}

/* https://github.com/CompositionalIT/SAFE-Landing-Source/blob/master/resources/_gen/assets/sass/style.sass_5ad6f408b0e3e473c748aac88af0ea18.content#L123-L134 */
.contact-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  padding: 0 0.1em;
  margin: 0.1em 0.1em;
  font-size: 2em;
  font-weight: bold;
  color: white;
  opacity: 1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

.contact-btn>a>i {
  color: black;
}