/* Wrapper */
.wrapper {
  padding-top: 0em;
  margin: 0 auto;
  max-width: 100%;
  color: rgba(0, 0, 0, 1);
  overflow-x:hidden;
  padding: 0.5% 10% 0.5% 10%;
}

/* Navbar */
#nav {
  text-align: left;
  border-bottom: rgba(0,0,0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.nav-list > li {
  display: inline-block;
  padding: 0% 2% 0% 2%;
}

.nav-list > li > a {
  font-size: 50%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: lowercase;
}

.nav-list > li > #name {
  font-size: 50%;
  color: rgba(0, 0, 255, 0.5);
  text-decoration: none;
  text-transform: lowercase;
}

/* Title */
#teachingpage {
  background: rgba(255, 255, 255, 0.3);
  overflow-x:hidden;
}

#teaching {
/*  background-image: url("../../images/teaching.jpeg");*/
  box-shadow:  inset 0 0 0 1000px rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  overflow: hidden;
  object-fit: cover;
}

.course {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  border-bottom: rgba(0,0,0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.course > h4 {
  font-size: 50%;
}

.sub > p {
  font-size: 30%;
  color: rgba(0, 0, 0, 0.6);
}

h2, h3, p {
  font-weight: normal;
}

h4 {
  font-weight: normal;
  font-size: 150%;
  color: rgba(0, 0, 255, 0.8);
}

/* Discussion */
.disc {
  font-size: 1em;
}

.schedule {

}

.schedule > h4 {
  font-size: 150%;
}